.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
  a {
    text-decoration: underline;
    font-weight: 700;
    color: gold;
  }
}

video {
  width: 100%;
  height: 100%;
}
